<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.css">
  <script src="./node_modules/jquery/dist/jquery.min.js"></script>
  <script src="./node_modules/art-template/lib/template-web.js"></script>
</head>
<body>
  <div class='container'>
      <h1>英雄列表 <small>详情</small></h1>
      <hr>
    
      <a href="javascript:;" class='btn btn-success float-right' >新增英雄</a>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>名字</th>
            <th>性别</th>
            <th>创建时间</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody class="bd">
          
        </tbody>
      </table>

  </div>
  <script type="text/template" id="bdtmp">
    <% for(let i= 0;i<message.length;i++) { %>
    <tr>
      <td><%=message[i].name %></td>
      <td><%=message[i].gender %></td>
      <td><%=message[i].ctime %></td>
      <td></td>
    </tr>
    <% } %>
  </script>
  <script>
    $.ajax({
      type: "get",
      url: "http://localhost:3000/api/gethero",
      dataType: "json",
      success: function (response) {
        let html = template('bdtmp',response)
        console.log(html)
        $('.bd').html(html)
      }
    });
  </script>
</body>
</html>